.card {
    transition: transform .2s, box-shadow .2s, top .3s;
    position: relative;
    top: 0;
    box-shadow: 0.2em 0.2em 0.5em #333, inset 0 0 0 0 #009bfe;
}

.card-selected {
    transform: scale(1.15);
}

.card-highlighted {
    box-shadow: 0.2em 0.2em 0.5em #333, inset 0 0 5px 6px #009bfe !important;
    top: -.7em;
}